{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                </b><h1>User List</h1><b>
                </div>
                <div class="card-body">
                    <a href="{% url 'volindex' %}" class="btn btn-secondary mb-3">Home</a>
                    <div class="list-group">
                        {% for user in users %}
                            <a href="{% url 'prob_of_user' pk=user.user.id %}" class="list-group-item list-group-item-action">
                                {{ user.user }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
